.studentEligibilityContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studentEligibilityParagraph {
    margin: 20px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */


    color: #0E5F59;
}

.studentEligibilityContainerFirst>p {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #0E5F59;
}

.studentEligibilityContainerFirst>h3 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 109.5%;
    /* identical to box height, or 33px */


    color: #0E5F59;

}


.studentEligibilityContainerFirst>h1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 92px;
    /* identical to box height */


    color: #0E5F59;
}

.studentEligibilityContainerMain{
    background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
border-radius: 15px;
padding: 20px;

}

.studentEligibilityTitle{
    font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 109.5%;
/* identical to box height, or 44px */


color: #0E5F59;

margin-top: 50px;
margin-bottom: 40px;
}

.retakeTest{
    background: #FFFFFF;
border: 1px solid #0E5F59;
border-radius: 10.1235px;
font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
text-align: center;
padding: 10px 30px;
color: #0E5F59;
}

.depositNow{
    background: #FECD08;
border-radius: 12px;
font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 109.5%;
/* or 26px */

text-align: right;

color: #0E5F59;

padding: 10px 50px;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.studentEligibilityButtonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}





.retakeTestSmall{
    background: #FFFFFF;
border: 1px solid #0E5F59;
border-radius: 10.1235px;
font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
padding: 5px 15px;
color: #0E5F59;
}

.depositNowSmall{
    background: #FECD08;
border-radius: 12px;
font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 109.5%;
/* or 26px */

text-align: right;

color: #0E5F59;

padding: 5px 20px;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.recommended_jobs_first{
    font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 138.5%;
/* identical to box height, or 36px */


color: #000000;
margin: 0px;
}


.enter_keyword_input{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #B3B3B3;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
padding: 6px 10px;
border-radius: 10px;
}

.dashboard_main_flex_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.dashboard_main_flex_container>div{
    display: flex;
    align-items: center;
    gap: 10px;
}


.upcoming_interviews{
    font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 138.5%;
/* identical to box height, or 36px */


color: #0E5F59;
}

.flex_upcoming_interviews{
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex_upcoming_interviews>div>h3{
    font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 19px;

color: #0E5F59;
}


.flex_upcoming_interviews>div>p{
    font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 138.5%;
/* identical to box height, or 21px */


color: #5B5B5B;

}

.interview_on{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 138.5%;
/* or 19px */

text-align: right;

color: #5B5B5B;

}

.interview_date{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 138.5%;
/* identical to box height, or 17px */

text-align: right;

color: #FECD08;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
padding: 2px 8px;
gap: 10px;


background: #0E5F59;
border-radius: 19px;
width: max-content;
}

.flex_upcoming_interviews_flex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.flex_upcoming_interviews_location_container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flex_upcoming_interviews_location_container>div{
    display: flex;
    align-items: center;
}

.flex_upcoming_interviews_location_container>div>p{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 138.5%;
/* or 19px */
margin: 0px;

color: #5B5B5B;
}

.flex_upcoming_interviews_location_container>div>h6{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 138.5%;
/* or 19px */
margin: 0px;

color: #0E5F59;
}

.view_more_upcoming{
    font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #0E5F59;
background: #FFFFFF;
border: 1px solid #0E5F59;
border-radius: 6px;
padding: 5px;
}


.upcoming_interview_inner_container{
    background: #FFFFFF;
box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.09);
border-radius: 13px;
margin: 20px auto;
padding: 10px;
}

.upcoming_interview_outer_container{
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}


.upcoming_interview_outer_container::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #005F59; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }